.note {
  font-size: 0.8em;
}

.card {
  border-radius: 10px;
}

.card:hover {
  cursor: grab;
}

#card-description {
  border-style: solid;
}

*:focus {
  border-style: solid;
}

.keycap {
  background-color: white;
  border-style: solid;
  border-radius: 3px;
  font-family: monospace;
  box-shadow: 0.3px 0.3px 0.3px 0.3px gray;
}

.keymap-holder {
  border-radius: 10px;
  border-style: solid;
}

.level-veryhigh {
  color: white;
}

#btn-submit {
  border-color: gray;
}

.legend {
  font-size: 0.8em;
}
