.card {
  display: inline-block;
  width: 90px;
  margin: 5px;
  padding: 20px 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #333333;
}

.card:hover {
  background-color: #cccccc;
  cursor: pointer;
}
