.card {
  display: inline-block;
  width: 90px;
  margin: 5px;
  padding: 20px 5px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #333333;
}

.level-veryhigh {
  background-color: #00ff00;
}

.level-high {
  background-color: #007700;
}

.level-normal {
  background-color: #eecc00;
}

.level-low {
  background-color: #ee7700;
}

.level-verylow {
  background-color: #ff0000;
}

.card:hover {
  background-color: #cccccc;
  cursor: grab;
}

*:focus {
  border: 2px solid red;
}
